<center>
  <img  src="images/map.jpg"  max-height='100%'max-width='100%'/>
      <table  class="table table-condensed" >
        <tr>
          <td align='right'><button type="button" ng-click="previousPage()">Previous</button></td>
          <td align ='center'><button type="button" ng-click="Showchars()">Show to Characters</button></td>
          <td align ='center' ng-Show='0'><button type="button" ng-click="Showchars()">Hide From Characters</button></td>
          <td align='left'><button type="button" ng-click="nextPage()">Next</button></td>
        </tr>
      </table>
</center>