<div class="col-md-12">
	<div class='col-md-6'>
		<table  class="table table-hover" >
			<thead>
		        <tr>
		          <td>Person 1</td>
		          <td align='right'><button>Add</button> </td>
		        </tr>
	    	</thead>
	    	<tbody>
		        <tr>
		        	<td  class='col-md-2'>Item 1</td>
		        	<td  class='col-md-4'>Stats</td>
		        </tr>
		    </tbody>
    </table>
	</div>
	<div class='col-md-6'>
	<table  class="table table-hover" >
		<thead>
	        <tr>
	          <td>Item List </td>
	          <td></td>
	          <td align='right'><button>Create Item</button></td>
	        </tr>
    	</thead>
    	<tbody>
	        <tr>
	        	<td  class='col-md-2'>Item 1</td>
	        	<td  class='col-md-3'>Stats</td>
	        	<td class='col-md-1'><button>delete</button>
	        </tr>
	    </tbody>
	</table>
</div>
</div>