<div class="col-md-12">
  <div class="form-group row">
    <div class="col-md-12">
  <div>
    <p>
   <!--<button type="button" ng-click="Add()">Add+</button>
    </p> -->
    <h1>Campaign Name</h1>
    <textarea width='100%' placeholder="Type here..." name="text"></textarea><br>
  </div>
  <div>
    <!--<p>
      <span>Page:   
        <input ng-model="pageNumber" /></span>
    </p>
    <button type="button" ng-click="previousPage()">Previous</button>
    <button type="button" ng-click="nextPage()">Next</button>
  </div>
    -->
</div>
